* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #19344d;
  background: linear-gradient(to bottom, #fdfcf1, #c1d8eb);
}
header {
  background: linear-gradient(to right, #d55e00, #0469ce);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #1d3d59; /* Dark Blue */
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #19344d;
}

h1 {
  color: #0469ce;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fdfcf1;
  border: 1px solid #7aadd5;
  overflow: auto;
  font-size: 9px;
}

th,
td {
  padding: 5px;
  font-size: 8px;
  border: 1px solid #7aadd5;
}

th {
  background-color: #0469ce;
  color: #fdfcf1;
  font-size: 10px; /* Adjust the font size for the table headers */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #c1d8eb;
}

tr:nth-child(odd) {
  background-color: #d55e00;
  color: #fdfcf1;
}
