/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #19344d;
  background: linear-gradient(to bottom, #fdfcf1, #c1d8eb);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* Add flex to the container */
  flex-wrap: wrap; /* Wrap the divs inside the container if they overflow */
}

header {
  background: linear-gradient(to right, #d55e00, #0469ce);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #1d3d59; /* Dark Blue */
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #19344d;
}

h1 {
  color: #0469ce;
}

p {
  color: #19344d;
}

button {
  background: linear-gradient(to right, #19344d, #0469ce);
  color: #f2c849;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

header img {
  width: 50px;
  height: auto;
}

button:hover {
  background: linear-gradient(to right, #0469ce, #19344d);
}

select {
  background: linear-gradient(to right, #0469ce, #19344d);
  color: #f2c849;
  padding: 8px;
  border: none;
}

select option {
  background: linear-gradient(to right, #d55e00, #0469ce);
}

#salesSection,
#expensesSection,
#returnsSection {
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow to the divs */
  padding: 20px;
  flex: 1; /* Allow the divs to grow and occupy equal space inside the container */
  min-width: 300px; /* Set a minimum width for the divs */
}
/* Styles for the Sales Form */
#salesForm {
  display: none; /* Hide the form by default */
}

/* Add custom styles for the chart container and canvas */
.chart-container {
  width: 100%;
  height: 200px; /* Reduce the height to make the chart smaller */
  overflow: hidden;
}

canvas#profitChart {
  width: 100%; /* Set the width to 100% of the container */
  height: 100%; /* Allow the height to adjust proportionally based on the width */
}

/* Shared Styles for All Forms */
form {
  background-color: #fdfcf1;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  color: #1d3d59;
  margin-bottom: 20px;
}

label {
  color: #1d3d59;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  border: 1px solid #7aadd5; /* Light Blue */
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
}

button {
  background-color: #19344d;
  color: #f2c849;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0469ce;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Change to a vertical layout on small screens */
  }

  #salesSection,
  #expensesSection,
  #returnsSection {
    min-width: auto; /* Remove the minimum width on small screens */
    margin-bottom: 20px;
  }
}

/* Styles for the #inforgraphics container */
#inforgraphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #fdfcf1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for individual infographics */
#profitchart-container,
#dailySalesAnalysis,
#dailyExpenseAnalysis {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fdfcf1;
  overflow: hidden; /* Hide any overflowing content */
  display: flex; /* Use flexbox to allow content to wrap */
  flex-wrap: wrap; /* Wrap the content inside the div */
  gap: 10px; /* Add a gap between the divs */
}

/* Styles for the profit chart canvas */
#profitchart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

/* Styles for the daily sales data */
#dailySalesAnalysis h2 ,
#dailyExpenseAnalysis h2{
  color: #1d3d59;
  margin-bottom: 0px;
  font-size: 16px;
}

#dailySalesTable,
#dailyExpenseTable {
  flex-basis: 100%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fdfcf1;
  border: 1px solid #7aadd5;
  overflow: auto;
  font-size: 14px;
}

#dailySalesTable th,
#dailyExpenseTable th,
#dailySalesTable td,
#dailyExpenseTable td {
  padding: 8px;
  font-size: 10px;
  border: 1px solid #7aadd5;
}

#dailySalesTable th,
#dailyExpenseTable th {
  background-color: #0469ce;
  color: #f2c849;
  font-size: 12px; /* Adjust the font size for the table headers */
  font-weight: bold;
}

#dailySalesTable tr:nth-child(even),
#dailyExpenseTable tr:nth-child(even) {
  background-color: #c1d8eb;
}

#dailySalesTable tr:nth-child(odd),
#dailyExpenseTable tr:nth-child(odd) {
  background-color: #d55e00;
  color: #fdfcf1;
}

/* Styles for the additional infographics */
#dailySalesAnalysis p,
#dailyExpenseAnalysis p {
  margin: 0; /* Remove default margin to prevent spacing */
  font-size: 12px; 
}

#dailySalesAnalysis span,
#dailyExpenseAnalysis span {
  color: #0469ce;
  font-weight: bold;
  /* font-size: 10px; */
}
