<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/Dailypage.css" />
    <title>Insightify Daily</title>
  </head>
  <body>
    <header>
      <!-- Logo for the App -->
      <div>
        <img
          src="\img\_1ac97b4a-3be5-4280-9346-dc4cc9606830.jpeg"
          alt="Insightify Logo"
        />
      </div>

      <!-- Navigation Bar -->
      <nav>
        <ul>
          <li><a href="/expense">Expense</a></li>
          <li><a href="/income">Income</a></li>
          <li><a href="/profit-analysis">Profit Analysis</a></li>
          <li><a href="/products">Products</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div id="salesSection">
        <h1>Sales</h1>
        <p>Here you can track your sales and revenue.</p>
        <!-- Add sales-related content and functionality here -->
        <div id="newSaleFormContainer" style="display: none">
          <h1>Create New Sale</h1>
        </div>
        <button id="addNewSalesButton">Add New</button>
      </div>

      <div id="expensesSection">
        <h1>Expenses</h1>
        <p>Record your business expenses using the dropdown options:</p>
        <select id="expenseType" name="type">
          <option value="delivery">Delivery</option>
          <option value="advert">Advert</option>
          <option value="itemPurchase">
            Office Equipment Purchase
          </option>
        </select>
        <div id="advertFormContainer" style="display: none">
          <h1>Create New Advert</h1>
        </div>

        <div id="itemPurchaseFormContainer" style="display: none">
          <h1>Create New Item Purchase</h1>
        </div>

        <div id="deliveryFormContainer" style="display: none">
          <h1>Create New Delivery</h1>
        </div>
        <button id="addNewExpenseButton">Add New</button>
        <!-- Add expense-related content and functionality here based on the selected option -->
      </div>

      <div id="returnsSection">
        <h1>Returns</h1>
        <p>Keep track of your returns and manage customer refunds.</p>
        <!-- Add returns-related content and functionality here -->
        <div id="returnFormContainer" style="display: none">
          <h1>Create New REturn</h1>
        </div>
        <button id="addNewReturnButton">Add New</button>
      </div>
    </div>

    <script type="module" src="../js/main.js"></script>
  </body>
</html>
